.about__main {
  background-color: #e5e6e8;
}

.about__main__inner {
  background-color: #e5e6e8;
  text-align: center;
  padding: 80px 0;
}
.about__main__inner h1,
.about__main__inner p {
  margin: 20px 0;
}

.about__main__how {
  background-color: white;
  display: flex;
  flex-direction: row;
  margin: 50px 0;
}

.about__main__how__inner {
  display: flex;
  flex-direction: row;
}

.main2__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.div__main2,
.div1__main2 {
  width: 50%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__main__how__inner p {
  width: 0 auto;
}

.inner__container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about__main3 h1 {
  text-align: center;
  padding-top: 20px;
}

.human {
  text-align: center;
  margin: 100px 0;
}

.imghuman {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 51%;
}

.peoplename {
  margin-top: 15px;
  margin-bottom: 20px;
}

.footer__links__information {
  display: flex;
  flex-direction: column;
}

.footer__links__information p {
  margin-top: 30px;
  flex-direction: column;
  font-size: larger;
  color: #7c7c7c;
}

.footer__links__quick p {
  margin-top: 30px;
  flex-direction: column;
  font-size: larger;
  color: #7c7c7c;
}
