header{
    width: 250px;
    height: 100vh;
    background-color: #3794bc;
    text-align: center;
    position: relative;
}
.logo__box{
    padding: 30px 0;
}
.logo{
    text-decoration: none;
    font-size: 40px;
    color: #ffffff;
}
.logo span{
    color: #ffffff;
}
nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
nav ul{
    list-style: none;
    padding: 0;
    font-size: 18px;
}
nav ul li{
    padding: 20px 0;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
}