*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header__top{
    border-bottom: 1px solid #e1e1e1;
    display: none;
}
.header__top__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
}
a.logo{
    text-decoration: none;
    font-size: 40px;
    color: #000;
}
.header__top__inner p a{
    color: #000;
    text-decoration: none;
}
.header__main__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.header__main__inner form{
    position: relative;
}
.header__main__inner form input{
    width: 400px;
    font-size: 20px;
    padding: 15px 50px 15px 15px;
    border-radius: 30px;
    border: 2px solid #3794bc;
}
.header__main__inner form button:focus,
.header__main__inner form input:focus{
    outline: none;
}
.header__main__inner form button{
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #3794bc;
    font-size: 25px;
    top: 15px;
    right: 20px;
}
.header__main__inner .chart a i{
    color: #000;
    font-size: 25px;
}
.sticky{
    width: 100%;
    top: 0;
    position: fixed;
}
.header__bar{
    background-color: #3794bc;
}
.header__bar__inner ul li{
    display:inline-block;
    padding-right: 35px;
}
.header__bar__inner ul li a{
    text-decoration: none;
    color:#fff;
}
.header__bar__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:25px 0;
    color:#fff;
}
.home__slider{
    background-color: #e6e6e6;
}
.home__slider,
.home__slider__inner{
    position: relative;
}
.home__slider__inner img{
    width: 100%;
    object-fit: cover;
}
.home__slider__text{
    position: absolute;
    padding: 0 15px;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
}
.home__slider__text h1{
    font-size: 70px;
}
.home__slider__text p{
    font-size: 30px;
}
.home__slider__text button{
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    background-color: #3794bc;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
.home__slider__text button:focus{
    outline: none;
}
.home__slider__inner p,
.home__slider__inner h1{
    margin-bottom: 50px;
}
.home__info__boxes__inner{
    display: flex;
    flex-direction: row;
}
.home__info__box{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.home__info__retangle{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #3794bc;
}
.home__info__retangle i{
    font-size: 40px;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.home__info__box h2{
    margin: 20px 0;
}
.home__featured__products__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.home__featured__product{
    position: relative;
    padding: 0 15px;
}
.home__featured__product:first-child 
.home__featured__product__text{
    color: #000;
}
.home__featured__product:first-child 
.home__featured__product__text button{
    color:#3794bc;
}
.home__featured__product img{
    width: 100%;
    object-fit: cover;
}
.home__featured__product__text{
    position: absolute;
    width: 50%;
    text-align: center;
    color:#fff;
    top:50%;
    left: 10%;
    transform: translate(-10%,-50%);
}
.home__featured__product__text p{
    margin-bottom: 20px;
}
.home__featured__product__text h1{
    margin-bottom: 30px;
}
.home__featured__product__text button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    color: #fff;
}
.home__featured__product__text button i{
    padding-left: 10px;
}
.home__products__inner{
    text-align: center;
    padding: 50px 0;
}
.home__products__inner h1{
    font-size: 50px;
    margin: 0 0 65px 0;
}
.home__products__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.home__product{
    width: 25%;
    margin:15px 15px 85px;
    text-align: center;
    transition: transform .3s;
}
.home__product:hover
.home__product__action{
    display: block;
}
.home__product:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.12);
    margin: 15px;
}
.home__product:first-child{
    margin-left: 0;
}
.home__product:last-child{
    margin-right: 0;
}
.home__product img{
    width: 100%;
    object-fit: cover;
}
.home__product__description{
    padding: 20px 0;
    font-size: 20px;
}
.home__product__description p{
    margin-bottom: 15px;
}
.home__product__description span{
    font-weight: bold;
    color: #3794bc;
    padding:0 15px;
}
.home__product__description i{
    padding-right: 5px;
}
.home__product__description .old__price{
    color: #000;
    text-decoration: line-through;
}
.home__product__action{
    font-size: 20px;
    display: none;
}
.home__product__action button{
    color: #fff;
    background-color: #3794bc;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
}
.home__product__action button:hover{
    background-color: #fff;
    color: #3794bc;
    border: 1px solid #3794bc;
    border-bottom: 2px solid #3794bc;
}
.home__banner{
    background:url(../img/bg__banner__home.png) no-repeat top center;
    background-size: cover;
}
.home__banner__inner{
    text-align: center;
    color: #fff;
    padding: 100px 0;
}
.home__banner__inner h1{
    margin-bottom: 25px;
}
.home__banner__inner p{
    margin-bottom: 45px;
}
.home__banner__inner button{
    border: none;
    border-radius: 30px;
    padding: 15px 40px;
    color:#3794bc;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.footer__links__subscribe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__links{
    width: 50%;
    display: flex;
    flex-direction: row;
}
.footer__subscribe{
    width: 50%;
    border-left: 1px solid #ebebeb;
}
.footer__links__information,
.footer__links__quick{
    width:50%;
}
.footer__copyright{
    text-align: center;
    padding: 35px 0;
    border-top: 1px solid #ebebeb;
}