
.login__signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#3794bc;
}
.login__signup__inner{
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 20px;
    width: 800px;
    height: 450px;
    background-color:#fff;
    border-radius: 20px;
}

.signup__form,
.login__form,
.signup__description,
.login__description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}
.signup__form form,
.login__form form,
.signup__description form,
.login__description form{
    width: 100%;
}
.signup__form{
    display: none;
    opacity: 0;
    transition: ease-in 3s;
}
.signup__form h1,
.login__form h1{
    margin-bottom: 30px;
}
.signup__form form input,
.login__form form input{
    width: 70%;
    border: 1px solid #3794bc;
    border-radius: 20px;
    padding: 10px 10px;
    margin-bottom: 10px;
    outline: none;
}

.signup__form p,
.login__form p{
    margin-top: 10px;
}
.login__form p a{
    text-decoration: none;
    color: #000;
}
.login__form p a:hover{
    text-decoration: underline;
}
.signup__description{
    display: none;
}
.login__description,
.signup__description{
    border-left: 1px solid #ebebeb;
}
#login__rid,
#signup__rid,
.signup__form button,
.login__form button{
    margin-top: 20px;
    border: 1px solid #3794bc;
    border-radius: 20px;
    padding: 10px 30px;
    background-color: #3794bc;
    color: #ffff;
    cursor: pointer;
    outline: none;
}

#login__rid:hover,
#signup__rid:hover,
.signup__form button:hover,
.login__form button:hover{
    background-color: #fff;
    border: 1px solid #3794bc;
    color: #3794bc;
}
.login__description h1,
.signup__description h1{
    margin-bottom: 30px;
}
.login__description p,
.signup__description p{
    margin-bottom: 30px;
}
.login__description p a,
.signup__description p a{
    text-decoration: none;
    color: #3794bc;
}